AZURE_AI_FOUNDRY_ENDPOINT=
AZURE_AI_FOUNDRY_API_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SIGNING_SECRET=
MAILERSEND_API_KEY=
MAILERLITE_API_KEY=
MEZMO_API_KEY=
F2A_WEBHOOK_SECRET="my-super-secret-webhook-signing-secret"
WEBAPP_URL="https://app.local.first2apply.com"